<?xml version="1.0" encoding="UTF-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MEDIATHEQUEConnectionString" connectionString="Data Source=DESKTOP-RPHGH20\SQLEXPRESS;Initial Catalog=MEDIATHEQUES;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Accueil.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>